body.dark .bg-pattern::before {
    opacity: 0.2;
}
.bg-pattern {
    position: relative;
}

.bg-pattern::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('bg-pattern.svg') repeat;
    opacity: 0.09;
    pointer-events: none;
    z-index: 0;
}

.bg-pattern>* {
    position: relative;
    z-index: 1;
}